@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Short+Stack&display=swap');

.home-grid img{
    width:75%;
}
.euro-grid img{
    width:50%;
}
#hero-img{
    width: 50%;
}

.africa-grid img{
    width: 50%;
}
body{
    background-color:white;
    font-family: "Short Stack", Lato, Helvetica, sans-serif;;
    font-size: 20px;
    margin: 0;
    padding: 0;

}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-color:#90D5FF;
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
}

#logo-link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    
}
nav a{
    text-align: center;
    color:black;
    text-decoration: none;
    align-content: center;
}

nav a:hover {
    background-color:#95BF74;
    color:white;
    padding: 15px;
}

.button-box{
    text-align: center;
    align-content: center;
}
.book{
   background-color:#5A3A31;
   color:white;
   text-decoration: none;
   font-size: 18px;
   padding: 15px 30px;
   margin-top: 50px;
   border-radius: 5px;
}
.intro-title{
    font-family: "Nanum Pen Script";;

    text-align: center;
}

#intro-msg{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;   
    margin-right: 15%; 
    margin-top: 5%;
}

#intro-msg p{
    width: auto;
    grid-row: 2 /3;
    grid-column: 3 / 9 ;
}

.home-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    font-family:"Nanum Pen Script";
}

main section{
    text-align: center;
}
.japan-card{
    grid-column: 1/2;
    grid-row: 2/3;
}
 .euro-card{
    grid-column: 2/3;
    grid-row: 2/3;
 }
.africa-card{
    grid-column: 3/4;
    grid-row: 2/3
}
.japan-card, .euro-card, .africa-card{
    margin: 75px 0px;

}

.card-img{
    border: 10px solid #FB9F89;
    border-radius: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

footer{
    background-color:#90D5FF;
    color:black;
    padding: 25px 50px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:black;
    text-decoration: none;
}

footer a:hover{
    color:white;
}

footer p{
    font-size: 0.9em
}

footer p:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

footer .social img{
    padding-top: 15px;
}

.x{
    width: 64px
}

/* Africa PAge */

.extra{
    display: none;
}

p{
    display:inline;
}

input[type="checkbox"]{
    height: 2em;
    display: block;
    appearance: none;
}
label{
    position: relative;
    padding: 1ex;
    background-color: #5A3A31;
    color: antiquewhite;
    border-radius: 10px;
}

label::before{
    content:"Read More";
}

input[type="checkbox"]:checked ~ label:before{
    content: "Read Less";
}

.dots:has(~input[type="checkbox"]:checked){
    display: none;
}

.extra:has(~input[type="checkbox"]:checked){
    display: inline;
}
/* second button */

.extra2{
    display: none;
}

.dots2:has(~input[type="checkbox"]:checked){
    display: none;
}

.extra2:has(~input[type="checkbox"]:checked){
    display: inline;
}
/* third button */
.extra3{
    display: none;
}

.dots3:has(~input[type="checkbox"]:checked){
    display: none;
}

.extra3:has(~input[type="checkbox"]:checked){
    display: inline;
}


@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a, .button-box {
        display: block;
        padding: 15px;
    }

    .intro-title {
        font-size: 25px;
        color: #6f7364;
    }
    .japan-card, .euro-card, .africa-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}