body {
    margin: 0;
    border: 0;
}

.top {
    width: 100%;
}

div {
    width: 100%;
    background-color: grey;
    text-align: center;
    margin-top: -5px;
    padding: 0;
}

div img {
    display: inline-block;
    border-radius: 50% ;
    border:15px solid black;
    margin: 50px;
    width: 250px;
}